<div class="fit">
  <form class="video-upload">
    <div class="close close-upload-form">
      <span class="material-symbols-outlined">
        close
      </span>
    </div>
    <div class="type">
      <div class="movies">Movies</div>
      <div class="series">Series</div>
    </div>
    <div class="content">
      <div class="image">
        <label for="img">
          <div>
            <div class="i-text">add image</div>
            <img class="mi" src="" alt="">
          </div>
        </label>
        <input type="file" class="movieImg" onchange="imageChange()" name="img" id="img">
      </div>
      <div class="details">
        <input type="text" class="name dt" name="title" placeholder="Name">
        <textarea name="description" id="description" class="description" placeholder="Description"></textarea>
        <select name="language" id="language" class="dt">
          <option value="english">English</option>
          <option value="spanish">Spanish</option>
          <option value="japanese">Japanese</option>
          <option value="mandarine">Mandarine</option>
        </select>
        <select name="quality" id="quality" class="dt">
          <option value="">Choose Quality</option>
          <option value="320p">320p</option>
          <option value="480p">480p</option>
          <option value="720p">720p</option>
          <option value="1080p">1080p</option>
        </select>
        <select name="year" id="year" class="dt">
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2021</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
        <select name="genre" id="genre" class="dt">
          <option value="action">Action</option>
          <option value="scifi">Scifi</option>
          <option value="horror">Horror</option>
          <option value="animation">Animation</option>
          <option value="anime">Anime</option>
        </select>
        <div class="eps-wrapper sris">
          <div class="eps">
            <div><span class="ep-wrapper">Episode 1</span> | <input type="file" class="ep-file" name="epfile"></div>
          </div>
          <div class="add-episode">Add Episode</div>
        </div>
        <div class="eps-wrapper mvs">
          <input type="file" name="moviefile" id="moviefile" class="moviefile">
        </div>
        <button class="mvs-btn">Upload</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/videoupload.js"></script>