
  <div class="fit">
    <form class="video-upload">
      <div class="close close-upload-form">x</div>
      <div class="type">
        <div class="movies">Movies</div>
        <div class="series">Series</div>
      </div>
      <div class="content">
        <div class="image">
          <label for="img">
            <div>
              <div class="i-text">add image</div>
              <img class="mi" src="" alt="">
            </div>
          </label>
          <input type="file" class="movieImg" onchange="imageChange()" name="img" id="img">
        </div>
        <div class="details">
          <input type="text" class="name dt" name="title" placeholder="Name">
          <textarea name="description" id="description" class="description" placeholder="Description"></textarea>
          <select name="language" id="language" class="dt">
            <option value="english">English</option>
            <option value="spanish">Spanish</option>
            <option value="japanese">Japanese</option>
            <option value="mandarine">Mandarine</option>
          </select>
          <select name="quality" id="quality" class="dt">
            <option value="">Choose Quality</option>
            <option value="">320p</option>
            <option value="">480p</option>
            <option value="">720p</option>
            <option value="">1080p</option>
          </select>
          <select name="year" id="year" class="dt">
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2021</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
          <select name="genre" id="genre" class="dt">
            <option value="action">Action</option>
            <option value="scifi">Scifi</option>
            <option value="horror">Horror</option>
            <option value="animation">Animation</option>
            <option value="anime">Anime</option>
          </select>
          <div class="eps-wrapper sris">
            <div class="eps">
              <div><span class="ep-wrapper">Episode 1</span> | <input type="file" class="ep-file" name="epfile"></div>
            </div>
            <div class="add-episode">Add Episode</div>
            <button class="sris-btn">Upload</button>
          </div>
          <div class="eps-wrapper mvs">
            <input type="file" name="moviefile" id="moviefile" class="moviefile">
            <button class="mvs-btn">Upload</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script>
    const form = document.querySelector('form');
    const seriesBtn = document.querySelector('.sris-btn');

    const movies = document.querySelector('.movies');
    const series = document.querySelector('.series');
    const mvs = document.querySelector('.mvs');
    const sris = document.querySelector('.sris');

    let mi = document.querySelector('.mi');
    let inputFile = document.querySelector('.movieImg');

    sris.style.display = 'none';
    mvs.style.display = 'block';
    movies.classList.add('type-color-change');
    

    const addEpisodeBtn = document.querySelector('.add-episode');
    const episodes = document.querySelector('.eps');
    let count = 2;

    addEpisodeBtn.addEventListener('click', (e) => {
      // e.preventDefault();
      episodes.innerHTML += `<div><span class='ep-wrapper'>Episode ${count++}</span> | <input type="file" class="ep-file" name='epfile'></div>`
    })

      movies.addEventListener('click', (e)=>{
          sris.style.display = 'none';
          series.classList.remove('type-color-change');
          mvs.style.display = 'block';
          movies.classList.add('type-color-change');

      })

      series.addEventListener('click', (e)=>{
        sris.style.display = 'block';
        mvs.style.display = 'none';
        movies.classList.remove('type-color-change');
        series.classList.add('type-color-change')
    });

    document.querySelector('.close-upload-form').addEventListener('click', (e)=>{
      document.querySelector('.fit').style.display = 'none';
    })

        function imageChange() {
        let imgLink = URL.createObjectURL(inputFile.files[0]);

            mi.src = imgLink;
        }

       form.addEventListener('submit',async function(e){

        e.preventDefault()

          const Data = new FormData(this);

          try{

            let res = await fetch('/admin/moviesupload', {
              method: 'POST',
              body: Data
            });

            let data = await res.json();

            if(data.error){
              console.log(data.error);
            }else{
              console.log(data.message);
            }
          }
          catch(err){
            console.log(err);
          }

       });


       window.addEventListener('load', ()=>{
        document.querySelector('.moviefile').value = '';
       })
  </script>