<!--footer======================-->

<footer>
  <!--footer-logo-->
  <a href="index.html" class="logo">
      Movies<span>hd</span>
  </a>
  <!--copyright------>
  <span class="copyright">
      Copyright 2024 - GeNeSix
  </span>
</footer>