<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gx Animations</title>

    <%- include('partials/head.ejs') %> 
    <!-- <link rel="stylesheet" href="/project.css"> -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!--Scroll-progress-bar=======================-->
    <div id="progress">
        <span id="progress-value"></span>
    </div>
    


    <div class="form">
      <img src="/images/monkey.png" alt="">
      <h1 class="head">
        404 - OOPS!
        Page Not Found:) 
      </h1>
    </div>  




   

  <script src="/js/home.js"></script>
</body>
</html>
