<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="/images/letter-g (1).png"/>
  <link rel="stylesheet" href="/project.css">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
   <div class="login-bg"></div>
  <div class="header">
    <a href="/genesix" class="logo">
      Gx-Movies<span >.hd</span>
  </a>
    <!-- <button>Sign in</button> -->
    <div class="message-wrapper">
      <div class="message"></div>
      <div class="img"></div>
    </div>
  </div>
  <form>
    <div class="login">Sign in</div>
    <p class="input-wrapper">
    <p>
      <input type="text" name="email" id="" placeholder="Email" class="input email">
      <img src="/images/user.png" class="userImage" alt="">
      <div class="error email"></div> 
    </p>
    <p>
      <input type="password" name="password" id="" placeholder="Password" class="input pass">
      <img src="/images/visible (1).png" class="passImage" onclick="iconChange()" alt="">
      <div class="error pass"></div>
    </p>
    <p><button>Sign in</button></p>
    <div class="remember"><span class="remember-me" style="color: #000;"><input type="checkbox" name="" id="">Remember me</span> <span class="need-help"><a href="javascript:void" class="forgotten-pass">fogotten password?</a></span></div>
    <p class="new-to">New to GeNeSix? <a href="/signup">Sign up now.</a></p>
    </p>  
  </form>
  <footer></footer>

  <script src="/js/now.js"></script>
  <script src="/js/login.js"></script>
</body>
</html>