<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="shortcut icon" href="/images/letter-g (1).png"/>
  <link rel="stylesheet" href="/project.css">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style>
    .con-image{
      position: absolute;
      top: 15px;
    }
    .pass-p{
      position: relative;
    }
    .pass-image{
      position: absolute;
      top: 15px;
    }
  </style>
</head>
<body>
   <div class="login-bg"></div>
  <div class="header">
    <a href="/genesix" class="logo">
      Gx-Movies<span >.hd</span>
  </a>
    <!-- <button>Sign in</button> -->
    
  </div>
  <form>
    <div class="login" style="margin-left: 140px;">Enter a New Password</div>
    <div class="new-err"></div>
    <p class="input-wrapper">
    <p class="pass-p">
      <input type="password" name="password"  placeholder="Password" class="input password">
      <img src="/images/visible (1).png" class="passImage pass-image" onclick="iconChange()" alt="">
      <div class="error password"></div> 
    </p>
    <p class="pass-p">
      <input type="password" name="confirmpassword" placeholder="Confirm Password" class="input pass">
      <img src="/images/visible (1).png" class="passImage con-image" onclick="iconChange()" alt="">
      <div class="error pass"></div>
    </p>
    <p><button>Submit</button></p>
    </p>  
  </form>
  <footer></footer>

  <script src="/js/newpass.js"></script>
  <script src="/js/now.js"></script>

</body>
</html>