:root{
    --main-color--: #000;
    --sub-color--: #202020;
    --box-color--: #fff;
}
.light-theme{
    --main-color--: #DCDCDC;
    --sub-color--: #fff;
    --box-color--: #000;
}
body{
    color: var(--box-color--);
}
*{
    margin: 0;
    /* padding: 0; */
}
body{
    background-color: var(--main-color--);
    height: 90vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: var(--sub-color--);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Ensure items are spaced evenly */
    align-items: center; /* Center items vertically */
    padding: 10px 0px;
}
header .logo{
    height: 100%;
    padding-left: 10px;
    font-size: 40px;
    color: var(--box-color--);
    font-family: Monoton;
}
header .logo .menu-toggle{
    display: none;
}
header .right{
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding: 10px;
}
.notification{
    color: var(--box-color--);
    cursor: pointer;
}
.right .img-wrapper{
    width: 50px;
    height: 50px;
    margin-left: auto;
    border-radius: 50%;
    border: 2px solid var(--box-color--);
}
.right .img-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
section{
    height: 100%;
    display: flex;
}
section .menu{
    width: 250px;
    height: 100%;
    background-color: var(--sub-color--);
    margin-top: 5px;
    padding: 10px;
    transition: 0.4s ease-in;
    color: var(--box-color--);
}
section .menu ul li{
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    text-indent: 5px;
    margin-top: 10px;
    transition: 0.5s ease-out;
    margin-left: -30px;
}
section .menu ul li a{
    color: var(--box-color--);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
}
section .menu ul li:hover{
    background-color: var(--box-color--);
}
section .menu ul li:hover a{
    color: var(--main-color--);
}
section .content{
    width: 95%;
    height: 100%;
    background-color: var(--sub-color--);
    margin-top: 5px;
    margin-left: 10px;
    /* overflow: scroll; */
}
.status{
    font-size: 20px;
    margin-left: 10px;
}
section .content::-webkit-scrollbar{
    display: none;
}
 .message{
    width: 98.1%;
    height: 70px;
    font-size: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid var(--main-color--);
    color: var(--box-color--);
}
.box{
    height: 87%;
    /* padding: 20px; */
    display: grid;
    grid-template-rows: repeat(auto-fill, 180px);
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    overflow: scroll;
    background-color: var(--sub-color--);
}
.box::-webkit-scrollbar{
    display: none;
}
.box .b{
    background-color: #fff;
    width: 200px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    /* border: 3px solid #000; */
    box-shadow: 0px 0px 5px 2px;
}
.box .b .top{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.box .b .value{
    width: 100px;
    height: 60px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid #fff;
    padding-bottom: 8px;
    margin: auto;
    text-align: center;
    transition: 0.5s ease-in;
}
.box .b .value:hover{
    border-bottom-color: #000;
}
.box .users-b{
    background-color: transparent;
    width: 200px;
    height: 250px;
    padding: 10px;
    /* border-radius: 20px; */
    margin-top: 10px;
    /* border: 3px solid #000; */
    /* box-shadow: 0px 0px 5px 2px; */
    transition: 0.5s ease-in-out;
}
.box .users-b:hover{
    box-shadow: 0px 0px 5px 2px;
}
.users{
    grid-template-rows: repeat(auto-fill, 300px) !important;
}
.img-wrapper{
    width: 100%;
    height: 70px;
    padding: 2px;
}
.user-wrapper{
    width: 100%;
    height: 100%;
}
.user-wrapper .user-img-wrapper{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
}
.user-wrapper .user-img-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.detail-wrapper{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    text-align: center;
}
.button-wrapper{
    /* margin-top: 10px; */
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-wrapper .button{
    background-color: var(--box-color--);
    color: var(--main-color--);
    width: 100px;
    height: 20px;
    border: 1px solid var(--sub-color--);
    border-style: dotted;
    text-align: center;
    padding: 5px;
}
.pop-up-wrapper{
    position: fixed;
    background-color: #ffffff52;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    display: none;
}
.pop-up-wrapper .pop-up{
    margin-top: 150px;
    width: 700px;
    height: 400px;
    background-color: var(--sub-color--);
    display: flex;
    border: 1px solid var(--main-color--);
    color: var(--main-color--);
}
.pop-up-wrapper .pop-up .pop-pic-wrapper{
    /* background-color: #fff; */
    width: 50%;
    display: flex;
}
.pop-up .pop-pic-wrapper .pic-wrapper{
    width: 90%;
    /* background-color: rgba(255, 255, 255, 0.589); */
    display: flex;
    justify-content: center;
    padding: 10px;
    border-right: 1px dotted var(--box-color--);
}
.pop-up .pop-pic-wrapper .pic-wrapper img{
    width: 100%;
    height: 100%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}
.pop-up .pop-details-wrapper{
    /* background-color: var(--box-color--); */
    width: 50%;
    height: 100%;
    position: relative;
    color: var(--box-color--);
    border-left: 1px dotted;
}
.pop-up .pop-details-wrapper .pop-close-wrapper{
    width: 40px;
    height: 40px;
    border-bottom: 1px dotted var(--main-color--);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    float: right;
    backdrop-filter: blur(220px);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.all{
    margin-top: -60px;
}
.pop-up .pop-details-wrapper .pop-close-wrapper:hover{
    box-shadow: 0px 0px 4px 3px;
}
.pop-up .pop-details-wrapper .pop-details{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}
.title{
    color: var(--box-color--);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.d{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px;
}
.pop-btn-wrapper{
    width: 270px;
    display: flex;
    position: absolute;
    bottom: 10px;
}
.pop-btn-wrapper .btn{
    border: 1px dotted;
    padding: 5px;
    width: 100px;
    color: #fff;
    margin-left: 17px;
    /* transition: 0.3s ease-in; */
}
.delete{
    background-color: red;
}
.Update{
    background-color: green;
}
/* the movie list */
@media (width <= 750px) {
    .pop-up-wrapper .pop-up{
        margin-top: 150px;
        width: 300px;
        height: 513px;
        background-color: var(--sub-color--);
        display: block;
    }
    .pop-up-wrapper .pop-up .pop-pic-wrapper{
        width: 100%;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pop-up .pop-pic-wrapper .pic-wrapper{
        width: 200px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.589);
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 50%;
    }
    .pop-up .pop-pic-wrapper .pic-wrapper img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .all{
    margin-top: 0px;
}
    .pop-up .pop-details-wrapper{
        width: 100%;
        height: 260px;
        position: relative;
        color: var(--box-color--);
        border-top: 1px dotted;
    }
    .pop-up .pop-details-wrapper .pop-close-wrapper{
        width: 35px;
        height: 35px;
        /* border-bottom: 1px dotted var(--main-color--); */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        z-index: 2;
        position: relative;
        float: right;
        backdrop-filter: blur(220px);
        transition: 0.5s ease-in;
        cursor: pointer;
        bottom: 237px;
        right: 5px;
    }
    .pop-up .pop-details-wrapper .pop-details{
        width: 100%;
        height: 100%;
        /* background-color: red; */
        position: absolute;
        top: 0;
        z-index: 1;
        padding: 10px;
        display: block;
    }
    .title{
        color: #ffffff73;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .d{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 0px 0px;
    }
    .pop-btn-wrapper{
        width: 270px;
        display: flex;
        position: absolute;
        bottom: 0px;
    }
    .side-title{
        display: none;
    }
    section .menu{
        color: var(--box-color--);
        width: 70px;
        transition: 0.3s ease-in;
    }
}
@media (max-Height: 686px) {
    .pop-up-wrapper .pop-up{
        margin-top: 50px;
    }
    .pop-up-wrapper{
        height: 110vh;
    }
}
@media (width <= 594px) {
    header .logo{
        width: 160px;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        color: var(--box-color--);
        font-family: Monoton;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .logo .menu-toggle{
        display: block;
    }
    .menu{
        display: none;
    }
    .box{
        gap: 10px;
    }
    .status{
        font-size: 18px;
        margin-left: 10px;
    }
    section .menu{
        width: 250px;
        height: 100%;
        background-color: var(--sub-color--);
        margin-top: 5px;
        padding: 10px;
        position: absolute;
        transition: 0.4s ease-in;
        /* display: block; */
    }
    .side-title{
        display: block;
    }
}